<div class="container mt-5">
  <div class="row">
    <table class="table table-bordered">
      <thead class="text-center">
        <th>ID</th>
        <th>NOMBRE</th>
        <th>TELÉFONO</th>
        <th>FECHA NACIMIENTO</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of lst">
          <td class="text-center">{{ item.id}}</td>
          <td class="text-center">{{ item.nombre}}</td>
          <td class="text-center">{{ item.tel}}</td>
          <td class="text-center">{{ item.fecha_nac | date: "dd-MM-yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>