@import "../node_modules/bootstrap/scss/functions.scss";
@import "../node_modules/bootstrap/scss/variables.scss";
@import "../node_modules/bootstrap/scss/mixins.scss";
@import "../node_modules/ngx-toastr/toastr-bs4-alert.scss";
@import "./assets/scss/toast.scss";

a{
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style: none;
}